/* 스타일 초기화 */
* { margin: 0px ; padding: 0px ; }
header, body, footer { font-size: 14px; font-family: 나눔고딕,굴림,돋음,'Times New Roman',serif; width: 100%; }
header, footer { text-align : center ; }
body { margin: auto; }
footer { position: fixed; bottom: 0px; }

/* 공통 스타일 */
h1 { padding: 15px; font-size: 30px ; color: white; }
h2 { font-size: 15px; color: white; }
h3 { margin: 10px; font-size: 15px; color: green; text-shadow: 4px 4px 7px green; }
h1, h2 { background-image: url(bg.jpg); background-repeat: repeat-x; }

img { border: 0; padding: 2px; }

nav { margin: 5px 5px; }
nav > span > a { font-style: bold; margin: 0 ; padding: 3px; border: 2px solid purple; float: right; text-decoration: none; background: purple; color: white; }
nav > span > a:hover { background: #ff00ff; color: white; }
@media only screen and (min-width: 321px) and (orientation: landscape) {
	section { width: 80%; float: left; }
	aside { width: 20%; text-align: center; float: right; }
	footer { clear: both; }
}
.content  { clear: both; }
.section1 ul li { list-style-position: inside; list-style-image: url("li.jpg"); }

/* mintro.html 적용 스타일 */
#stu-pic { width: 6em; height: 8em; float: left; }

/* minfo.html 적용 스타일 */
#year-table { table-layout: auto; width: 80%; border-collapse: seperate; }
#year-table thead { background: #E4F2D0; }
#year-table tbody tr:nth-child(odd) { background-color: lightblue;}
#year-table tbody tr:nth-child(even) { background-color: lightgreen;}
#year-table tbody tr:hover { background : yellow; }
#logo { position: fixed; top:130px; left: 70px; opacity: 0.3; }

/* mstudy.html 적용 스타일 */
video { margin: 5px; width: 300px; height: 200px; }

/* mcareer.html 적용 스타일 */
.semi-pic { width: 4em; height: 3em;  }
#pic-container { overflow: hidden; }
#pic-container:hover { height: 220px; }
#pic1:hover { -webkit-transform: translate(150px,50px) scale(7,7); transform: scale(0.5); }
#pic2:hover { -webkit-transform: translate(100px,50px) scale(7,7) ; transform: scale(0.5); }
#pic3:hover { -webkit-transform: translate(30px,50px) scale(7,7); transform: scale(0.5); }

* { box-sizing: border-box;}
/* The actual timeline (the vertical ruler) */
.timeline {
	background-color: #474e5d;
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}
/* The actual timeline (the vertical ruler) */
.timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	background-color: white;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}
/* Container around content */
.container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
}
/* The circles on the timeline */
.container::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: white;
	border: 4px solid #FF9F55;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}
/* Place the container to the left */
.left {
	left: 0;
}
/* Place the container to the right */
.right {
	left: 50%;
}
/* Add arrows to the left container (pointing right) */
.left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid white;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent white;
}
/* Add arrows to the right container (pointing left) */
.right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent white transparent transparent;
}
/* Fix the circle for containers on the right side */
.right::after {
	left: -16px;
}
/* The actual content */
.content-tl {
	padding: 20px 30px;
	background-color: white;
	position: relative;
	border-radius: 6px;
}
.content-tl > p{
	font-size: 20px;
	font-weight: bold;
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
	/* Place the timeline to the left */
	.timeline::after {
	left: 31px;
	}
	/* Full-width containers */
	.container {
	width: 100%;
	padding-left: 70px;
	padding-right: 25px;
	}
	/* Make sure that all arrows are pointing leftwards */
	.container::before {
	left: 60px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent white transparent transparent;
	}
	/* Make sure all circles are at the same spot */
	.left::after, .right::after {
	left: 15px;
	}
	/* Make all right containers behave like the left ones */
	.right {
	left: 0%;
}
